<nav class="">
    <ul>
        <span id="navbar">
            <span><%= link_to 'New', new_product_claim_path %></span>
            <span><%= link_to "List", product_claims_path %></span>
        </span>
    </ul>
</nav>
<br>
<h1 class="title">Product Claims
</h1>
<br>
